<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataLayer.Properties.Settings.PrzychodniaConnectionString"
            connectionString="Data Source=SRYSIEK\SQLEXPRESSSOBI;Initial Catalog=Przychodnia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>